<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">>
        <title>Document</title>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Egg news</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="navbar navbar-dark bg-primary" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Administrador</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="foto de la noticia">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#"> "Dólar soja": el agro ingresó USD 1.075 millones en las primeras tres
                                jornadas y superó lo acordado con el Gobierno</a></h5>
                        <p class="card-text">Este miércoles los exportadores liquidaron en el día USD 465 millones y el
                            Banco Central compró USD 300 millones para las reservas.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="foto de la noticia">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Convocatoria al diálogo: la oposición dice que el Gobierno no los llamó y
                                mira la iniciativa con escepticismo</a></h5>
                        <p class="card-text">Referentes parlamentarios de Juntos por el Cambio apuntaron contra el
                            oficialismo por responsabilizar a otros sectores por los “discursos de odio”</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="foto de la noticia">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">
                                Ataque a CFK: la Justicia ordenó allanar de nuevo la casa en la que vivían
                                Sabag Montiel y su novia</a></h5>
                        <p class="card-text">Fue a pedido del fiscal Carlos Rívolo, que quiere saber si puede haber más
                            elementos de interés para la causa en esa vivienda del partido de San Martín.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="foto de la noticia">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#"> iPhone 14: estos son los nuevos modelos de Apple</a></h5>
                        <p class="card-text">Los dispositivos de Apple estarán disponibles a partir del 16 de septiembre
                            próximo</p>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>